.createTagModal {

  & .error {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    color: var(--color-danger-text);

    & .icon {
      margin-right: 5px;
    }
  }

  & .buttons {
    margin-top: 20px;

    & .button { margin-right: 10px; }
  }
}
