.contentEditor {
  & .optionsContainer {
    padding: 5px 0;
    margin-top: 20px;

    & .option:nth-child(1) {
      margin-right: 10px;
    }

    & .option {
      background: var(--color-primary-bg);

      &.active {
        background: var(--color-btn-bg);
      }
    }
  }

  & .contentRenderer {
    margin: 0;
    padding: 20px;
    background: var(--color-primary-bg);
    border-radius: 5px;
  }

  & .textarea {
    width: 100%;
    padding: 20px;
    resize: none;
    background: var(--color-primary-bg);
    border: none;
    border-radius: 5px;
    overflow: hidden;
    min-height: 400px;
  }
}
