.githubDetails {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 3;

  & .avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 2px var(--color-fg-highlight);
  }

  & .fullName {
    font-size: 25px;
    margin-top: 20px;
  }

  & .username {
    margin-top: 10px;
    color: var(--color-fg-highlight);
    font-weight: bold;
  }
}

.home {
  & .section {
    margin-top: 40px;
    width: 100%;
    display: flex;

    &.blogPostCards {
      margin-top: 40px;
      margin-bottom: 40px;
      display: block;
    }

    &.reversed {
      flex-direction: row-reverse;
    }

    & .imageContainer {
      width: 50%;
      position: relative;

      & .image {
        object-fit: cover;
      }
    }

    & .sectionContent {
      width: 50%;
      background: var(--color-bg-surface);
      padding: 20px;

      & .text {
        line-height: 2;
        white-space: pre-wrap;

        & .link {
          font-weight: bold;
          transition: .3s;

          &:hover {
            color: var(--color-fg-highlight);
          }
        }
      }

      & .icons {
        margin: 20px 0;

        & .icon {
          margin: 0 10px;
          object-fit: cover;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    & .section {
      padding: 0 20px;
    }
  }

  @media only screen and (max-width: 1000px) {
    & .section {
      position: relative;

      & .imageContainer {
        display: none;
      }

      & .sectionContent {
        width: 100%;
      }
    }
  }
}
