@use "@styles/shared/mixins";

.blogPost {
  position: relative;
  margin: 40px 0;
  background: var(--color-base-bg);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;

  & .coverContainer {
    position: relative;
    height: 300px;

    &:after {
      @include mixins.pseudo-element-cover-all;
      background: rgba(0, 0, 0, .3);
    }

    & .cover {
      width: 100%;
      object-fit: cover;
    }

    & .details {
      z-index: 2;
      position: absolute;
      padding: 20px;
      bottom: 0;

      & .title {
        font-size: 25px;

        @include mixins.link;
      }

      & .date {
        margin-top: 10px;
        color: var(--color-highlight-text);
        font-weight: bold;
        font-size: 14px;

        & .icon {
          margin-right: 10px;
        }
      }
    }
  }

  & .body {
    padding: 20px;
    padding-bottom: 0;
    transition: .3s;
    
    &:hover {
      cursor: pointer;
      background: black;

      & .content:after {
        background: linear-gradient(to bottom, transparent, black);
      }
    }

    & .content {
      max-height: 200px;
      min-height: 40px;
      overflow: hidden;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, transparent, var(--color-base-bg));
      }
    }
  }

  & .tags {
    padding: 20px;
    padding-bottom: 0;

    & .tag {
      display: inline-block;
      font-weight: bold;
      background: transparent;
      margin-right: 10px;
      padding: 10px 15px;
      text-transform: uppercase;
      font-size: 14px;
      color: var(--color-highlight-text);
      transition: 0.3s;

      &:hover {
        background: rgba(var(--color-primary-rgb), 0.2);
      }
    }
  }
}
