.blogPosts {
  width: 100%;

  & .messageContainer {
    text-align: center;
    margin-top: 40px;

    & .message {
      font-size: 25px;
      color: var(--color-fg-highlight);
      font-weight: bold;
    }
  }
}

.blogPost {
  position: relative;
  margin: 40px 0;
  background: var(--color-bg-surface);
  width: 100%;

  & .coverContainer {
    position: relative;
    height: 300px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .3);
    }

    & .cover {
      width: 100%;
      object-fit: cover;
    }

    & .details {
      z-index: 2;
      position: absolute;
      padding: 20px;
      bottom: 0;

      & .title {
        font-size: 25px;
        transition: .3s;

        &:hover {
          color: var(--color-fg-highlight);
        }
      }

      & .date {
        margin-top: 10px;
        color: var(--color-fg-highlight);
        font-weight: bold;
        font-size: 14px;

        & .icon {
          margin-right: 10px;
        }
      }
    }
  }

  & .body {
    padding: 20px;

    & .content {
      max-height: 300px;
      overflow: hidden;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to bottom, transparent, var(--color-bg-surface));
      }
    }
  }

  & .tags {
    padding: 20px;
    padding-bottom: 0;

    & .tag {
      display: inline-block;
      font-weight: bold;
      background: transparent;
      margin-right: 10px;
      padding: 10px 15px;
      transition: .3s;
      text-transform: uppercase;
      font-size: 14px;
      color: var(--color-fg-highlight);

      &:hover {
        background: rgba(137, 180, 250, .2);
      }
    }
  }
}
