.formContainer {
  margin-bottom: 20px;

  & .formButtons {
    margin-top: 10px;

    & .formButton {
      & .loader {
        display: inline-block;
        margin-right: 5px;
      }

      &:disabled {
        cursor: wait;
      }

      &.cancelButton {
        margin-left: 10px;
      }
    }
  }
}

.titleContainer {
  display: flex;

  & .button {
    background: transparent;
    border: none;
    color: inherit;
  }
}
