.titleForm {
  & .titleInput {
    & .label {
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    & .input {
      width: 100%;
      background: var(--color-primary-bg);
      padding: 15px;
      font-size: 16px;
      border: none;
    }
  }

  & .button { margin-top: 10px; }
}
