@use "@styles/shared/mixins";


.home {
  margin: auto;
  @include mixins.responsive-wrapper;

  padding-bottom: 20px;

  & .skills {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 40px;

    & .card {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      padding: 20px;
      background: var(--color-base-bg);

      & .icon {
        font-size: 500px;
      }

      & .cardTitle {
        margin-top: 10px;
        font-size: 20px;
      }

      & .details {
        margin-top: 10px;
        line-height: 1.5;
        text-align: center;

        & span {
          color: var(--color-highlight-text);
        }
      }
    }


    @include mixins.respond-to("medium") {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;

      & .card {
        width: 80%;
      }
    }

    @include mixins.respond-to("small") {
      & .card {
        width: 100%;
      }
    }
  }
}
