@use "@styles/shared/mixins";

.githubDetails {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 3;

  & .avatar {
    border-radius: 50%;
    border: solid 2px var(--color-blue);

    @include mixins.size(150px);
  }

  & .fullName {
    font-size: 25px;
    margin-top: 20px;
  }

  & .username {
    margin-top: 10px;
    color: var(--color-highlight-text);
    font-weight: bold;
  }
}

.home {
  margin: auto;
  @include mixins.responsive-wrapper;

  & .section {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;

    &.noFlex { display: block; }
    &.reversedFlex { flex-direction: row-reverse; }

    & .imageContainer {
      width: 50%;
      position: relative;

      & .image {
        object-fit: cover;
      }
    }

    & .sectionContent {
      width: 50%;
      background: var(--color-base-bg);
      padding: 20px;

      & .text {
        line-height: 2;
        white-space: pre-wrap;

        & .link {
          @include mixins.link;
          font-weight: bold;
        }
      }

      & .icons {
        margin: 20px 0;

        & .icon {
          margin: 0 10px;
          object-fit: cover;
        }
      }
    }

    @include mixins.respond-to("large") {
      & .imageContainer {
        display: none;
      }

      & .sectionContent {
        width: 100%;
      }
    }
  }
}
