@use "@styles/shared/mixins";

.container {
  margin: 40px auto;
  @include mixins.responsive-wrapper;

  & .contentContainer {
    padding: 20px;
    background: var(--color-base-bg);
  }

  & .submitButton {
    margin-top: 20px;
  }
}
