.deleteButton {
  margin-top: 20px;

  & .warningContainer {
    & .warning {
      line-height: 1.5;

      &:nth-child(2) {
        margin-top: 10px;
      }
    }

    & .input {
      font-size: 16px;
      width: 100%;
      padding: 15px;
      background: transparent;
      border: solid 1px var(--color-input-border);
      border-radius: 5px;
      color: inherit;
      margin-top: 20px;
      transition: .3s;

      &:focus {
        border-color: var(--color-highlight);
      }
    }

    & .acceptButton {
      margin-top: 20px;
      width: 100%;

      &:hover {
        color: var(--color-fg-danger);
        border-color: var(--color-fg-danger);
      }

      &:disabled {
        cursor: not-allowed;
        color: var(--color-btn-disabled);
        border-color: var(--color-border);
      }
    }
  }

  & .button {
    color: var(--color-fg-danger);
    border-color: var(--color-fg-danger);

    &:hover {
      background: var(--color-fg-danger);
      color: var(--color-fg-dark);
    }
  }
}
