.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & .formContainer {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: var(--color-base-bg);

    & .title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    & .submitButton {
      width: 100%;
      margin-top: 20px;
    }
  }
}
