@use "@styles/shared/mixins";

.blogPostCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
  margin-top: 20px;

  & .blogPostCard {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    &:after {
      @include mixins.pseudo-element-cover-all;
      background: rgba(255, 255, 255, .1);
      opacity: 0;
      transition: .3s;
    }

    &:hover:after { opacity: 1; }

    & .cover {
      width: 100%;
      height: 200px;
      position: relative;

      & .coverImage {
        object-fit: cover;
      }

      & .date {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: var(--color-highlight-text);
        padding: 5px 10px;
        border-radius: 20px;
        background: rgba(0, 0, 0, .5);
        font-weight: bold;
        font-size: 12px;

        & .icon {
          margin-right: 5px;
        }
      }
    }

    & .details {
      background: var(--color-base-bg);
      padding: 15px;

      & .title {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  @include mixins.respond-to("large") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mixins.respond-to("medium") {
    row-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
