@use "@styles/shared/mixins";

.container {
  margin: 40px auto;
  @include mixins.responsive-wrapper;

  & .contentContainer,
  & .dangerZone {
    padding: 20px;
    background: var(--color-base-bg);
  }

  & .dangerZone {
    margin-top: 40px;

    & .subtitle {
      margin-bottom: 20px;
    }
  }

  // & .recentBlogPosts {
  //   margin-top: 40px;
  //
  //   & .subtitle {
  //     font-size: 22px;
  //   }
  // }
}
