@use "@styles/shared/mixins";

.container {
  margin: 40px auto;
  @include mixins.responsive-wrapper;

  & .coverContainer {
    position: relative;

    & .date {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background: rgba(0, 0, 0, .6);
      padding: 10px;
      border-radius: 10px;
    }
  }

  & .contentContainer,
  & .dangerZone {
    padding: 20px;
    background: var(--color-base-bg);
  }

  & .dangerZone, & .comments {
    margin-top: 40px;

    & .subtitle {
      margin-bottom: 20px;
    }
  }

  & .recentBlogPosts {
    margin-top: 40px;
  }
}
