@use "@styles/shared/mixins";

.container {
  margin: auto;

  @include mixins.responsive-wrapper;

  & .messageContainer {
    text-align: center;
    margin-top: 40px;

    & .message {
      font-size: 25px;
      color: var(--color-highlight-text);
      font-weight: bold;
    }
  }
}
