:root {
  --color-blue: #89b4fa;
  --color-black: #11161e;
  --color-dark-blue: #0655b7;

  --color-primary: var(--color-blue);
  --color-primary-rgb: 137, 180, 250;

  // --color-primary-bg: var(--color-black);
  // --color-base-bg: #04090f;

  --color-primary-bg: #04090f;
  --color-base-bg: var(--color-black);
  --color-blue-bg: var(--color-dark-blue);

  --color-primary-text: #cdd6f4;
  --color-highlight-text: var(--color-blue);
  --color-dark-text: var(--color-black);
  --color-gray-text: #77899f;
  --color-danger-text: #ff3680;

  --color-btn-bg: var(--color-dark-blue);
  --color-btn-disabled: #335176;
  --color-btn-caution: #b70647;

  --toastify-color-dark: var(--color-base-bg);
  --toastify-text-color-dark: var(--color-primary-text);
  --toastify-color-success: var(--color-primary);
}
