:root {
  --color-highlight: #89b4fa;

  --color-bg: #0b1017;
  --color-bg-surface: #080b0f;
  --color-danger-bg: #FF715B;

  --color-fg-dark: var(--color-bg);
  --color-fg: #cdd6f4;
  --color-fg-danger: #ffb5cf;
  --color-fg-highlight: var(--color-highlight);

  --color-border: #565a68;

  --color-input-border: #565a68;

  --color-btn-bg: #1e2735;
  --color-btn-disabled: var(--color-border);

  --toastify-color-dark: var(--color-bg-surface);
  --toastify-text-color-dark: var(--color-fg);
  --toastify-color-success: var(--color-highlight);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: 0;
  color: inherit;
}

input, textarea {
  color: inherit;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.custom-btn {
  padding: 10px;
  border: solid 1px var(--color-border);
  background: transparent;
  font-weight: bold;
  border-radius: 5px;
  transition: .3s;

  &:hover,
  &.active {
    color: var(--color-fg-highlight);
    border-color: var(--color-fg-highlight);
  }

  &:disabled,
  &:disabled:hover {
    border-color: var(--color-border);
    color: var(--color-btn-disabled);
  }

  & .icon {
    margin-right: 5px;
  }
}
